.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
.container div {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
.container div p {
  font-size: 30px;
  margin: 0;
}
button {
  width: 50%;
  padding: 3px;
  cursor: pointer;
  background-color: white;
  border: solid 1px black;
  border-radius: 2.5px;
}
button:hover {
  background-color: whitesmoke;
}
