div {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
div button {
  width: 50%;
  padding: 3px;
  cursor: pointer;
  background-color: white;
  border: solid 1px black;
  border-radius: 2.5px;
}
div button:hover {
  background-color: whitesmoke;
}
